<h1>Blackjack!</h1>


  <div class="well">
<h4>Dealer's Cards:</h4>    
<% session[:dealercards].each do |card| %>
  <%= card_to_image(card) %>
<% end %>
</div>

 <div class ="well"> 
<h4><%= session[:player] %>'s Cards:</h4>
<% session[:playercards].each do |card| %>
  <%= card_to_image(card) %>
<% end %>
</div>
<p>Your total is <%= session[:playertotal] %>. What would you like to do, <%=session[:player]%>?</p>

<form action='/game' method='post'>
<p><input type="submit" class="btn btn-large btn-primary" value = "Hit"></p>
</form><form action ='/stay' method='post'>
<p><input type="submit" class="btn btn-large btn-success" value = "Stay"></p></form>
