<div id="game">
<%if @loser %>
<div class="alert alert-error"><%=@loser%></div>
<% end %>
<%if @winner %>
<div class="alert alert-success"><%=@winner%></div>
<% end %>
<h2>Blackjack V1.0</h2>

<% if @show_bet == true %>
<h4>
  <%=session[:player] %> has <%=session[:pot] %> and bet <%= session[:bet] %> this round.
</h4>
<% end %>

<% if @play_again == true %>
<a href="/bet" class="btn btn-success">Play Again</a>
<% end %>
<p></p>
<div class="well">
<h4>Dealer's Cards:</h4> 
<% if @show_dealer_hand %>   
<% session[:dealercards].each do |card| %>
  <%= card_to_image(card) %>
<% end %>
<% else %>
<img src='/images/cards/cover.jpg' width="10%" height="10%" border="5" class='card_image'>
<%= card_to_image(session[:dealercards][1]) %>
<% end %>
<% if @show_dealer_hit_button %>
<p>
  <h5> Dealer has <%= calc_value(session[:dealercards])%> and will hit.</h5>
  <form id="dealer_hit" action='/game/dealer/hit' method='post'>
  <input type='submit' class='btn btn-primary' value='Click to see dealer card &rarr;'>
  </form>
</p>
<% end %>
</div>

 <div id="player_cards" class ="well"> 
<h4><%= session[:player] %>'s Cards:</h4>
<% session[:playercards].each do |card| %>
  <%= card_to_image(card) %>
<% end %>
</div>


<% if @show_hit_stay_buttons %>
<p><strong>Your total is <%= session[:playertotal] %>. What would you like to do, <%=session[:player]%>?</strong></p>
<form id="hit_form" action='/game/player/hit' method='post'>
<p><input type="submit" class="btn btn-large btn-primary" value = "Hit"></p>
</form>
<form id="stay_form" action ='/game/player/stay' method='post'>
<p><input type="submit" class="btn btn-large btn-success" value = "Stay"></p></form>
<% end %>
</div>