<% require 'pry' %>

<h1>Blackjack</h1>
<h4>Good luck <%= session[:player] %></h4>

<pre>
Dealer's Cards:
<% binding.pry %>
<ul>
<%= session[:dealercards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
</ul>
Dealer Total: <%= session[:dealertotal] %>
</pre>

<pre>
<%= session[:player] %>'s Cards:
<ul>
<%= session[:playercards].each do |card| %>
  <li><%= card.to_s %></li>
<% end %>
</ul>
Player Total: <%= session[:playertotal] %>
</pre>

<input type="submit" class="btn btn-primary" value = "Hit">
<input type="submit" class="btn btn-success" value = "Stay">